.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fe5d42;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px 60px;
  border-radius: 10px;
}
.header a {
  font-size: 1.5rem;
  font-weight: 600;
}
.header div {
  font-size: 1.6rem;
  background-color: #fff;
  text-align: center;
  color: #fe5d42;
  height: 35px;
  width: 35px;
  border-radius: 9px;
  padding: 2px;
  position: relative;
}
.header span {
  font-size: 0.8rem;
  width: 18px;
  height: 18px;
  line-height: 17px;
  background-color: black;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -7px;
}
.footer {
  text-align: center;
  background-color: #fe5d42;
  padding: 20px;
  margin: 10px;
  color: white;
  margin-top: 80px;
  border-radius: 10px;
}
.footer a {
  color: rgb(59, 45, 185);
  cursor: pointer;
}
